<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babiesregistrationf form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class=>
    <h4 class="">Welcome to Babiesregistrationform</h4>
  
        <a href="/add" class="p-2 bg-teal-500 rounded-lg shadow-lg">Add new baby</a>

    <div class=>
    <table class="table table-bordered">
        <thead>
            <tr class=>
                <th>#</th>
                <th>Categorystay</th>
                <th>Categoryfees</th>
                <th>name</th>
                <th>gender</th>
                <th>age</th>
                <th>parents_name</th>
                <th>person'sname</th>
                <th>location</th>
                <th>babysnumber</th>
                <th>comment</th>
                <th>timein</th>
                <th>timeout</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
 {% for each in babies_informations %}           
            <tr >
                <td> {{each.id}}</td>
               <td>{{each.c_stay}}</td>
                <td>{{each.c_fees}}</td>
                <td>{{each.name_of_the_baby}}</td>
                <td>{{each.gender}}</td>
                <td>{{each.age}}</td>
                <td>{{ each.parents_name}}</td>
                <td>{{each.name_of_the_person_brought_by_the_baby}}</td>
                <td>{{each.location}}</td>
                <td>{{each.babys_number}}</td>
                <td>{{each.comment}}</td>
                <td>{{ each.timein}}</td>
                <td>{{ each.timeout}}</td>
              <td>
                    <a href="read/{{each.id}}" >read</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>




